{% extends "shop/base.html" %}
{% load static %}

{% block content %}
  
  <p>Your shoping cart</p>
  <table>
    <tr>
      <th>name:</th>
      <th>remove:</th>
    </tr>
    {% for item in cart %}
      {% with product=item.product %}
      <tr>
        <th>{{ product.name }}</th>
        <th><a href="{% url 'cart:cart_remove' product.id %}">remove</a></th>
      </tr>
      {% endwith %}
    {% endfor %}
  </table>

{% endblock content %}