{% extends "shop/base.html" %}
{% load static %}

{% block content %}
  <div class"detail">  
    {% if product.image %}<img src="{{ product.image.url }}" alt="">{% endif %}
    <p>{{ product.name }}</p>
    <p>{{ product.price }}</p>

    <form action="{% url "cart:cart_add" product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">

    <p>{{ product.description }}</p>
    <p>{{ product.category }}</p>
  </div>
{% endblock content %}