{% extends "shop/base.html" %}
{% load static %}

{% block content %}
  
  <div id="sidebar">
    <p>Categories:</p>    
    <ul>
      {% for cat in categories %}
        <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  
  <div id="main">
    <p>{% if category %}{{ category.name }}{% else %}Products:{% endif %}</p>
    {% for product in products %}
      <div class"product">
        <a href="{{ product.get_absolute_url }}">
          {% if product.image %}<img src="{{ product.image.url }}" alt="">{% endif %}
          <p>{{ product.name }}</p>
          <p>{{ product.price }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock content %}