{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>
  </head>
  
  <body>
    <div class="cart">
      {% with total_items=cart|length %}
      <a href="{% url 'cart:cart_detail' %}">Your cart </a>{{ total_items }} items.
      {% endwith %}
    </div>
    <div class="content">
      {% block content %}
        
      {% endblock content %}
    </div>
  </body>

</html>